[user]
	name = Shawn MacIntyre
	email = shawn@selfstructured.com
[commit]
	gpgsign = false
[ui "color"]
	ui = always
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	autocrlf = input
	safecrlf = true
[merge]
	conflictstyle = diff3
[alias]
	c = commit
	s = status
	st = status
	last = log -1 HEAD
	sl = stash list
	lg = log --color --graph --pretty=format:'%Cred%h%Creset %C(magenta)%G?%Creset =>%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	# `git log` with patches shown with difftastic.
	l = -c diff.external=difft log -p --ext-diff
	# Show the most recent commit with difftastic.
	ds = -c diff.external=difft show --ext-diff
[push]
	default = simple
[pull]
	rebase = true
[help]
	autocorrect = 1
[github]
	user = smacintyre
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[diff]
	external = difft

# Provider specific includes
[includeIf "hasconfig:remote.*.url:https://gitlab.com/**"]
  path = ~/.gitconfig-gitlab

[includeIf "hasconfig:remote.*.url:https://git.sr.ht/**"]
  path = ~/.gitconfig-sourcehut
